body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
input#form-message {
  width: 82%;
}
input#select-username-input {
  width: 82%;
}
.form-group {
  width: 100%;
}
ul#chat {
  height: 300px;
  overflow-y: scroll;
  width: 98%;
  padding-left: 25px;
}
.emoji {
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
    margin-bottom: -0.25em;
}